# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw

# Virtual environment
.venv/
venv/
env/

# Uploaded files
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
